.SignUp-Container {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.SignupBox {
    width: 100%;
    max-width: 450px; /* Standard width for login cards */
    background-color: var(--axis-white);
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.main-input {
    width: 100%;
    padding: 12px;
    background-color: var(--axis-gray-light);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: 0.2s;
}
.main-input:focus {
    border-color: var(--axis-black);
    background-color: var(--axis-white);
    outline: none;
}
.btn-secondary {
    width: 100%;
    background-color: var(--axis-gray-light);
    border: none;
    padding: 12px;
    margin-bottom: 12px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
}
.full-width {
    width: 100%;
    border-radius: 8px;
    background-color: var(--axis-black);
    color: var(--axis-white);
}
/* Add this to your Signupuser.css */
.SignupBox h1 {
    font-size: var(--size-h2);
    margin-bottom: 10px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px; /* Creates clean space between each field */
}

label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    color: var(--axis-gray-medium);
}

/* Container for the whole section */
.benfituser-section {
    background-color: var(--axis-black);
    color: var(--axis-white);
    padding: 60px 20px;
    text-align: center;
}

.h1-benefit {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
}

.benefit-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.benefit-card {
    flex: 1;
    min-width: 280px;
    background-color: var(--axis-white);
    padding: 30px;
    border-radius: 12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: var(--axis-black);
    border: var(--axis-gray-medium);
   
}

.benefit-card:hover {
    transform: translateY(-10px);
    border-color: var(--axis-white);
}


.benefit-icon {
    font-size: 40px;
    color: var(--axis-black);
    margin-bottom: 20px;
}

.benefit-card h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

.benefit-card p {
    font-size: 14px;
    color: var(--axis-gray-medium);
    line-height: 1.6;
}
